.body {
    background-image: url(c1.jpg);
    color: lemonchiffon;
}

.container-2 {
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    justify-content: space-around;
}

.container-2 button {
    padding: 15px;
    font-size: x-large;
}

.cat-gen-btn-2 {
    padding: 15px;
}

.btn-set {
    display: flex;
    justify-content: center;
}

.flex-box-2 {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: center;
}

.flex-box-2 img {
    margin: 10px;
    box-shadow: 0px 10px 10px antiquewhite
}
